page-modal {
  .content-modal {
    padding-top: 40px;
  }
  span.truecls {
    font-size: 25rem;
    color: #0bff0b;
  }
  span.wrongcls {
    font-size: 25rem;
    color: #ff0606;
  }
  .button-md {
      padding: 40px 20px;
      font-size: 2.5rem;
  }
}
